svg.fast-forward-btn:hover circle {
  fill: var(--color-bright-blue);
  cursor: pointer;
}

svg.fast-forward-btn:active circle {
  fill: var(--color-bright-blue);
  stroke: var(--color-bright-blue);
  cursor: pointer;
}
